/* CSS */

* {
    box-sizing: border-box;
}

/*  */

.tom {
    height: 400px;
    background-image: url("./beverages-brunch-cocktail-5317.jpg");
    z-index: -9999;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 1200px 500px;
    color: aliceblue;
    text-align: center;
    font-size: 70px;
    font-family: 'Pacifico', cursive;
}

.tom p {
    font-size: .5em;
}

hr {
    background-color: white;
}

.bob {
    margin: auto;
    margin-bottom: 30px;
}

